.holder{
    width: 48%;
    min-width: 270px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.holder > img{
    height: 293px;
}
.holder > div:nth-child(2){
    height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 587px) {
    .holder{
        width: 80%;
    }
}