.holder{
    width: 48%;
    min-width: 270px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.holder > img{
    height: 293px;
}
.holder > div:nth-child(2){
    height: 34px;
    overflow: hidden;
}
@media screen and (max-width: 490px) {
    .holder{
        width: 78%;
    }
}