.errorPage{
    width: 100%;
    min-height: 1000px;
    background: #E4F2FD;
}

.image{
    margin: auto;
    width: 406px;
    height: 441px;
    background: url(../../assets/Images/Error-pages.png) no-repeat 50% 50%;
    background-size: cover;
}

.title{
    font-family: DannaBold;
    font-size: 36px;
    color: black;
    margin: auto;
    width: 400px;
        user-select: none;
}

.homePage{
    width: 184px;
    height: 57px;
    border-radius: 40px;
    border: 2px solid #2200FF;
    margin: auto;
    margin-top: 20px;
    font-family: DannaMedium;
    text-decoration: underline;
    color: #006C90;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}