

.imageProgramming{
    width: 45%;
    height: 90%;
    border-radius: 32px;
}

.title{
    font-family: DannaBold;
    font-size: 24px;
    color: #2F2F2F;
    width: 100%;
 text-align: center;
    height: auto;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}