.filter{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    gap: 0px;
    border-radius: 32px;
    border: 2px solid #DCDCDC;
    margin-top: 70px;
    padding: 20px;
    position: absolute;
    z-index: 100;
    background: white;

}
.container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.filterTitle{
    width: 50%;
    font-family: DannaBold;
    font-size: 24px;
    line-height: 34.32px;
    text-align: right;
    color: #2F2F2F;
    margin-bottom: 15px;
}
.filterText{
    font-family: DannaMedium;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #2F2F2F;

}
.filterInput{
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 16px;
    padding: 14px;
    gap: 8px;
    font-family: DannaMedium;
    font-size: 12px;
    line-height: 20.02px;
    text-align: right;
    color: #707070 !important;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterCategory{
    width: 100%;
    border-radius: 16px;
    padding: 14px;
    gap: 8px;
    font-family: DannaMedium;
    font-size: 12px;
    line-height: 20.02px;
    text-align: right;
    background: #F1F1F1 url(../../../assets/Images/icons8-arrow-down-30.png) 5% 50% no-repeat;
    background-size: 5%;
    color: #707070;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.closeBtn{
    width: 101px;
    height: 40px;
    border: 1px solid #FF5353;
    border-radius: 32px;
    color: #FF5353;
    font-family: DannaMedium;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
}
.filterDetail{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 5px;
    position: relative;
}
.filterTextImg{
    width: 30px;
    height: 30px;
}
.searchBox{
    width: 50px;
    height: 48px;
    position: absolute;
    top: 38px;
    left: 0px;
    border-radius: 16px;
    background: #3772FF url(../../../assets/Images/icons8-search-30white.png) 50% 50% no-repeat;
    background-size: 50%;
}