.holderImage{
    height: 80.05464480874317%;
    width: 100%;
    border-radius: 32px;
}

.imageProgramming{
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

.title{
    font-family: DannaBold;
    font-size: 24px;
    color: #2F2F2F;
    width: 100px;
 text-align: center;
    height: auto;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @media screen and (max-width: 1003px) {
    .title{
        width: 200px;
    }
    .imageProgramming{
        width: 200px;
    }
}
@media screen and (max-width: 859px) {
    .title{
        width: 400px;
    }
    .imageProgramming{
        width: 400px;
    }
}

@media screen and (max-width: 727px) {
    .imageProgramming{
        display: none;
    }
} */