.holder{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 32px;
    padding: 0 24px;
    height: 600px;
    overflow: scroll;
}
