.holder{
    width: auto;
    height: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;
}

.level{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-family: DannaMedium;
    color: #FCFCFC;
    border-radius: 32px;
    background: #FF37F5;
}

.category{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-family: DannaMedium;
    color: #FCFCFC;
    border-radius: 32px;
    background: #3772FF;
}

@media screen and (max-width: 1048px) {
    .category{
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .level{
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media screen and (max-width: 900px) {
    .category{
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .level{
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
    }
}