.holder{
    width: 100%;
    min-width: 270px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 10px;
}
.holder > img{
    width: 8%;
    height: 52px;
    border-radius: 12px;
}
.holder > div{
    font-size: 16px;
    line-height: 22.88px;
    
    margin-top: 12px;
}
.status{
    width: auto;
    padding: 5px;
    font-size: 14px;
    font-family: DannaMedium;
    color: #FCFCFC;
    border-radius: 32px;
    background: #FF5353;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}
.closeAndViewHolder{
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}
.View{
    background: url("https://img.icons8.com/?size=100&id=85028&format=png&color=000000") no-repeat 0% 50%;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.Close{
    background: url("https://img.icons8.com/?size=100&id=8112&format=png&color=FF5353") no-repeat 0% 50%;
    background-size: cover;
    width: 30px;
    height: 30px;
}
.holder > div:nth-child(2){
    height: 34px;
    overflow: hidden;
    width: 11.6%;
}
@media screen and (max-width: 1003px) {
    .holder{
        justify-content: right;
        gap: 50px;
    }
    .holder > div:nth-child(2){
        width: 20%;
    }
    .status{
        width: 20%;
    }
    .View{
        width: 30px;
    }
}
@media screen and (max-width: 859px) {
    .status{
        display: none;
    }
}
@media screen and (max-width: 491px) {
    .holder > div:nth-child(2){
        width: 300px;
    }
}