.courseListHolder{
    width: 94.444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444%;
    justify-content: center;
    flex-flow: row wrap;
    display: flex;
}

.body {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}