.Language{
    height: 48px;
    width: 55px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    color: black;
    z-index: 1;
    position: relative;
    padding: 10px;
}
.Language > option{
    margin-top: -4px;
}
.holder{
    width: 91px;
    justify-content: center;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999999999999999999999;
    border-radius: 50px;
}
.holder2{
    position: relative;
    justify-content: center;
    gap: 15px;
    display: flex;
    flex-flow: row wrap-reverse;
    margin-bottom: 10px;
}
.DarkAndLangButton{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #ffffff url(https://img.icons8.com/?size=100&id=82535&format=png&color=000000)no-repeat 50% 50%;
    background-size: 50%;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #dcdcdc;
    box-shadow: 0 0 5px 2px #5d5d5d;
}
.DarkAndLangButton:hover{
    background-size: 60%;
    transition: 0.5s;
}
.DarkAndLangButton ~ Label ,.DarkAndLangButton ~ select{
    transition: 0.1s;
}

