.holder{
    width: 100%;
}
.holder > div:nth-child(2),.holder > div:nth-child(3){
    color: #656565;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
}

.linkedin{
    width: 100% !important;
    color: blue;
}