.description{
    width: 84.11214953271028%;
    height: 17.97235023041475%;
    margin-right: 20px;
    margin-top: 40px;
    text-align: right;
    color: #7E7E7E;
    font-family: DannaMedium;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 1207px) {
    .description{
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    .description{
        font-size: 16px;
    }
}