.holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    margin-top: 20px;
    row-gap: 50px;
}

.title{
    font-size: 32px;
    font-weight: 700;
    color: #2F2F2F;
    text-align: center;
    width: 100%;
    line-height: 130px;
}

@media screen and (max-width: 1412px) {
    .holder{
        margin-top: 400px;
    }
}

@media screen and (max-width: 1021px) {
    .holder{
        margin-top: 600px;
    }
}