.cat{
    width: 100%;
    height: 48px;
    background: #F1F1F1;
    color: #707070;
    font-size: 12px;
    text-align: right;
    border-radius: 16px;
    direction: rtl;
    line-height: 22px;
    padding: 15px;
    font-family: DannaMedium;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.titleCat{
    color: #2F2F2F;
    font-size: 16px;
    font-family: DannaMedium;
    width: 110px;
    height: auto;
    text-align: left;
    /* background: url(../../../../../../assets/Images/icons8-search-30.png) no-repeat 90% 50%; */
}