.holder{
    width: 86.57718120805369%;
    height: 93.98496240601504%;
    border: 1px solid black;
}

.title{
    width: 100%;
    color: #2F2F2F;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}