.holder{
    width: 86.57718120805369%;
    display: flex;
    justify-content: right;
    flex-flow: row wrap;
    gap: 15px;
}

.title{
    width: 100%;
    color: #2F2F2F;
    font-size: 24px;
    font-family: DannaBold;
 text-align: right;
}

.applyFilter{
    border-radius: 16px;
    width: 100px;
    padding: 10px;
    background: green;
    display: flex;
    justify-self: start;
    align-items: center;
    font-family: DannaMedium;
    color: white;
        cursor: pointer;
}

.applyFilter2{
    border-radius: 16px;
    width: 100px;
    padding: 10px;
    background: green;
    display: flex;
    justify-self: start;
    align-items: center;
    font-family: DannaMedium;
    color: white;
    opacity: 0.5;
}

.deleteFilter{
    border-radius: 16px;
    width: 100px;
    padding: 10px;
    background: red;
    display: flex;
    justify-self: start;
    align-items: center;
    font-family: DannaMedium;
    color: white;
        cursor: pointer;
}