.banner {
    width: 100%;
    height: 250px;
    display: flex;
    gap: 200px;
    justify-content:center;
    align-items: center;
    margin-top: 50px;
}

@media screen and (max-width: 1096px) {
    .banner{
        justify-content: space-between;
        gap: 0;
    }
}