.banner {
    width: 100%;
    height: 250px;
    display: flex;
    gap: 200px;
    justify-content:center;
    align-items: center;
    margin-top: 150px;
    animation: visible linear forwards;
    flex-flow: row wrap;
    animation-timeline: view();
    animation-range:  500px 700px;
}

@keyframes visible{
    to {
        margin-top: 0px;
    }
}

@media screen and (max-width: 1096px) {
    .banner{
        justify-content: space-between;
        gap: 0;
    }
}

@media screen and (max-width: 900px) {
    .banner{
        height: auto;
        align-items: flex-start;
    }
}