.holderImage{
    width: 60%;
    height: 100%;
    border-radius: 32px;
    cursor: url('https://img.icons8.com/?size=30&id=60022&format=png&color=01691d'), default !important;
}

.imageProgramming{
    width: 518px;
    height: 346px;
    border-radius: 32px;
}

.lastUpdate{
    height: 30px;
    font-size: 16px;
    font-family: DannaBold;
    color: #2F2F2F;
    width: auto;
    text-align: center;
}

.title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: DannaBold;
    font-size: 24px;
    color: #2F2F2F;
    width: 100%;
 text-align: right;
    font-family: DannaBold;
    line-height: 40px;
    height: 32px;
}