.holder{
    width: 94.444444444444444%;
    height: 547px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.slider{
    width: 95%;
}

.title{
    font-size: 32px;
    font-family: DannaBold;
    color: #2F2F2F;
    text-align: center;
    width: 100%;
    line-height: 130px;
    animation: visible linear forwards;
    animation-timeline: view();
    animation-range:  entry;
    scale: 0;
    opacity: 0;
}

@keyframes visible{
    to {
        scale: 1;
        opacity: 1;
    }
}

@media screen and (max-width: 1412px) {
    .holder{
        margin-top: 400px;
    }
}

@media screen and (max-width: 1021px) {
    .holder{
        margin-top: 600px;
    }
}