.holder{
    width: 50.44117647058824%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

@media screen and (max-width: 1078px) {
    .holder{
        width: 100%;
        height: auto;
    }
}