.contentLeft{
    width: 457.5px;
    height: 415.7px;
    background: #fff;
    border-radius: 5px;
    border-top: 4px solid red;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.title{
    width: 100%;
    height: 28px;
    background: #727377;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: DannaNormal;
    line-height: 30px;
}

.text{
    width: 100%;
    text-align: center;
    color: black;
    height: 38px;
    line-height: 30px;
    font-weight: 600;
}

.price{
    width: 100%;
    text-align: center;
    color: #00a85a;
    direction: rtl;
    font-size: 20px;
    font-family: DannaDemiBold;
    height: 38px;
    line-height: 30px;
}



.contentRight{
    width: 652.5px;
    height: 476.033px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-radius: 5px;
    border-top: 4px solid red;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.container > div:not(.fourInput){
    color: black;
    font-family: DannaMedium;
    font-size: 14px;
    width: 103px;
    text-align: right;
}

.fourInput{
    width: 580px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.cardNumber{
    height: 100%;
    width: 129.683px;
    border: 1px solid #c3c0c0;
    background-color: #fff;
    border-radius: 7px;
}

.cvv2{
    width: 580px;
    height: 100%;
    border: 1px solid #c3c0c0;
    background-color: #fff;
    border-radius: 7px;
}