.holder{
    width: 86.57718120805369%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 15px;
}

.holderTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.closeBtn{
    width: 101px;
    height: 40px;
    border: 1px solid #FF5353;
    border-radius: 32px;
    color: #FF5353;
    font-family: DannaMedium;
    text-align: center;
    cursor: pointer;
}

.title{
    width: 50%;
    color: #2F2F2F;
    font-size: 24px;
    font-family: DannaBold;
    text-align: right;
}