.filter{
    width: 298px;
    height: 100%;
    top: 413px;
    left: 1102px;
    gap: 0px;
    border-radius: 32px;
    border: 2px solid #DCDCDC;
    margin-top: 70px;
    padding: 20px;
}
.filterTitle{
    font-family: DannaBold;
    font-size: 24px;
    line-height: 34.32px;
    text-align: right;
    color: #2F2F2F;
    margin-bottom: 15px;
}
.filterText{
    font-family: DannaMedium;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #2F2F2F;

}
.filterInput{
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 16px;
    padding: 14px;
    gap: 8px;
    font-family: DannaMedium;
    font-size: 12px;
    line-height: 20.02px;
    text-align: right;
    color: #707070 !important;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterCategory{
    width: 100%;
    border-radius: 16px;
    padding: 14px;
    gap: 8px;
    font-family: DannaMedium;
    font-size: 12px;
    line-height: 20.02px;
    text-align: right;
    background: #F1F1F1 url(../../../assets/Images/icons8-arrow-down-30.png) 5% 50% no-repeat;
    background-size: 8%;
    color: #707070;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filterDetail{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 5px;
    position: relative;
}
.filterTextImg{
    width: 30px;
    height: 30px;
}
.searchBox{
    width: 50px;
    height: 48px;
    position: absolute;
    top: 38px;
    left: 0px;
    border-radius: 16px;
    background: #3772FF url(../../../assets/Images/icons8-search-30white.png) 50% 50% no-repeat;
    background-size: 50%;
}


@media screen and (max-width: 900px) {
    .filter{
        display: none;
    }
}