.mentors {
    width: 88.35341365461847%;
    background: url(../../../../../../assets/Images/Mentors.png) 88% 50% no-repeat;
    height: 32px;
    background-size: 45%;
    text-align: left;
    color: #2F2F2F;
    font-family: DannaMedium;
    font-size: 14px;
    line-height: 30px;
}

@media screen and (max-width: 1222px) {
    .mentors{
        font-size: 12px;
        background-size: 40%;
        margin-right: 20px;
    }
}

@media screen and (max-width: 900px) {
    .mentors{
        width: 70%;
        background-size: 20%;
        background-position: 74% 50%;
        font-family: DannaMedium;
        line-height: 35px;
        text-align: center;
        margin-right: 150px;
        margin-top: 18px;
        font-size: 14px;
    }
}

@media screen and (max-width: 822px) {
    .mentors{
        background-size: 20%;
        background-position: 77% 50%;
    }
}
@media screen and (max-width: 632px) {
    .mentors{
        background-size: 25%;
        background-position: 82% 50%;
    }
}

@media screen and (max-width: 632px) {
    .mentors{
        background-size: 20%;
        background-position: 80% 50%;
    }
}

@media screen and (max-width: 488px) {
    .mentors{
        background-size: 20%;
        background-position: 85% 50%;
    }
}

@media screen and (max-width: 384px) {
    .mentors{
        background-size: 26%;
        background-position: 95% 50%;
        width: 80%;
        margin-right: 100px;
    }
}

