.holder{
    width: 23.67647058823529%;
    height: 66.91042047531993%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}

.button{
    width: 125px;
    height: 39px;
    border-radius: 40px;
    background: #2F2F2F;
    font-size: 16px;
    font-family: DannaMedium;
    color: #FCFCFC;
    margin: 40px auto;
    line-height: 40px;
    text-align: center;
}