.holder{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 32px;
}

@media screen and (max-width: 1412px) {
    .holder{
        gap: 15px;
    }
}
