.title{
    height: 100%;
    background-size: 45%;
    text-align: left;
    color: #2F2F2F;
    font-family: DannaMedium;
    font-size: 14px;
    line-height: 30px;
    width: 150px;
    text-align: right;
}

.container{
    width: 300px;
    height: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
}

.studentCount{
    font-family: DannaBold;
    width: 50px;
    height: 32px;
    color: black;
    line-height: 30px;
}

.juniors {
    width: 82px;
    background: url(../../../../../../assets/Images/Juniors.png) 50% 50% no-repeat;
    height: 100%;
    background-size: cover;
}

@media screen and (max-width: 1222px) {
}