.Button{
    width: 100%;
    height: 42.34234234234234%;
    border-radius: 40px;
    background: #2F2F2F;
    color: #FCFCFC;
    text-align: center;
    font-family: DannaMedium;
    font-size: 16px;
    line-height: 45px;
}

@media screen and (max-width: 1214px) {
    .Button{
        width: 50%;
        font-size: 12px;
    }
}