.reserved{
    width: 100%;
    height: 100%;
    padding: 12px;
    border: 2px solid #DCDCDC;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;

}
.coursesHolder{
    overflow-y: scroll;
    height: 600px;
    display: flex;
    justify-content: right;
    flex-flow: row wrap;
    width: 100%;
}
.coursesHolder > div:last-child{
    border: none;
}