.top{
    width: 100%;
    height: 80px;
    border: 2px solid #DCDCDC;
    border-radius: 16px;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 1078px) {
    .top{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 698px) {
    .top{
        height: auto;
        flex-flow: row wrap;
        border: none;
        border-radius: none;
    }
}