.user{
    width: 64px;
    height: 40px;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.arrow{
    width: 20px;
    height: 20px;
    background: url(https://img.icons8.com/?size=100&id=39786&format=png&color=FFFFFF) no-repeat 50% 50%;
    background-size: 50%;
}