.startFromNow{
    width: 11.03%;
    margin-left: 6.5%;
    height: 44.4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    gap: 10px;
}

@media screen and (max-width: 1306px) {
    .startFromNow{
        width: 15%;
    }
}

@media screen and (max-width: 1214px) {
    .startFromNow{
        width: 15%;
        margin-left: 0;
    }
}

@media screen and (max-width: 1007px) {
    .startFromNow{
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    .startFromNow{
        display: none;
    }
}