.page2{
    display: flex;
}
.imagesHolder{
    display: flex;
    width: 876px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    height: 100%;
}
.img{
    width: 189px;
    height: 189px;
}
.selected{
    width: 40%;
    background-color: #ebebeb;
    color: #3772FF;
    border-radius: 48px;
    padding: 11px 16px;
    text-align: center;
}


