.title{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #2F2F2F;
}

.container{
    width: 94.44444444444444444%;
    height: 546px;
    margin-top: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}