.title{
    width: 100%;
    font-family: DannaBold;
    font-size: 25px;
    color: black;
 text-align: right;
    user-select: none;
    padding-bottom: 27px;
    border-bottom: 1.5px solid #9d9d9d;
    
}
.PaymentTitle{
    font-family: DannaMedium;
    color: rgb(255, 255, 255);
    margin-top: 4px;
}

.coursesHolder{
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.image{
    width: 120px;
    height: 80px;
    border-radius: 8px;
}

.PaymentButton{
    width: 30px;
    height: 30px;
    background: url(https://img.icons8.com/?size=100&id=7994&format=png&color=ffffff) no-repeat 50% 50%;
    background-size: 100%;
    cursor: pointer;
    margin: 0 auto;


}
.PaymentHolder{
    margin-right: 10px;
    background-color: #000;    
    border-radius: 500px;
    padding: 6px;
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 10px;
}

.titleCourse{
    font-family: DannaDemiBold;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 23px;
    color: black;
    user-select: none;
}
.TitleAndImageHolder{
    display: flex;
    height: 100%;    
    padding-top: 10px;
}
.PriceAndPayHolder{
    display: flex;   
    padding-top: 10px;
}
.price{
    font-family: DannaDemiBold;
    font-size: 20px;
    color: #000000;
    user-select: none;
    display: flex;
    direction: rtl;
    height: 30px;
    margin-top: 13px;
}

.priceHolder{
    display: flex;
    gap: 5px;
    flex-flow: row-reverse nowrap;
}