.holder{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.reserve{
    width: 28.2798833819242%;
    height: 100%;
    background: #3772FF;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
}

.AddToFav{
    width: 48.39650145772595%;
    height: 100%;
    background: #2F2F2F;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-radius: 40px;
}

.like{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #3772FF url(../../../../../../assets/Images/icons8-like-24.png) 50% 50% no-repeat;
}

.dislike{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: url(../../../../../../assets/Images/icons8-dislike-24.png) 50% 50% no-repeat;
    border: 1px solid #DCDCDC;
}