.holder{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.reserve{
    width: 28.2798833819242%;
    height: 100%;
    color: #FCFCFC;
    font-family: DannaBold;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3772FF url(../../../../../../assets/Images/icons8-book-48.png) 83% 50% no-repeat;
    background-size: 12%;
}

.AddToFav{
    width: 48.39650145772595%;
    height: 100%;
    color: #FCFCFC;
    font-family: DannaBold;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F2F2F url(../../../../../../assets/Images/icons8-archive-32white.png) 90% 50% no-repeat;
    background-size: 8%;
}

.like{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: #3772FF url(../../../../../../assets/Images/icons8-like-24.png) 50% 50% no-repeat;
}

.dislike{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background: url(../../../../../../assets/Images/icons8-dislike-24.png) 50% 50% no-repeat;
    border: 1px solid #DCDCDC;
}


@media screen and (max-width: 1142px) {
    .dislike{
        width: 40px;
        height: 40px;
    }
    .like{
        width: 40px;
        height: 40px;
    }
    .AddToFav{
        width: 30%;
        font-size: 12px;
        background-image: none;
    }
    .reserve{
        width: 20%;
        font-size: 12px;
        background-image: none;
    }
}

@media screen and (max-width: 1078px) {
    .holder{
        margin-top: 20px;
    }
}

@media screen and (max-width: 698px) {
    .holder{
        height: auto;
        margin-top: 10px;
    }
    .reserve{
        display: none;
    }
    .AddToFav{
        width: 170px;
        font-size: 16px;
    }
    .dislike{
        width: 56px;
        height: 56px;
    }
    .like{
        width: 56px;
        height: 56px;
    }
}