.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    padding: 1rem;
    margin-top: 40px;
    direction: rtl;
}
.page2{
    width: 1030px;
    height: 100%;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.titleBlogs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 71px;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.h1{
    font-size: 40px;
    font-family: DannaBold;
    font-family: DannaBold;
    line-height: 57.2px;
    text-align: center;  
    color: #2F2F2F;  
    letter-spacing: -0.05em;
    width: 100%;
}
.p{
    font-family: DannaMedium;
    font-size: 18px;
    font-family: DannaMedium;
    line-height: 25.74px;
    text-align: center;
    color: #707070;
    width: 297px;
    letter-spacing: -0.025em;
}
.sortButtonLabel,.sortButtonLabelModal{
    font-family: DannaMedium;
    font-size: 18px;
    line-height: 25.74px;
    text-align: center;
    width: 144px;    
    height: 40px;
    color: #000000;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    justify-content: center;
    cursor: pointer;
}
.inputSort,.inputSortModal{
    display: none;
}
/* input[type="radio"]:checked+label{
    border: 1px solid #FF5353;
    color: #FF5353;
} */
.sortingTitle,.sortingTitleModal{
    color: black;
    font-family: DannaBold;
    font-size: 20px;
    line-height: 38px;
}
.inputChangePage{
    display: none;
}
.sorts{
    display: flex;
    flex-wrap: nowrap;
    gap: 16PX;
    width: 100%;
    justify-content: right;
}
.ListCard{
    width: 1030px;
    gap: 32px;
}
.ChangePageList{
    background: #EFEFEF;
    width: 322px;
    border-radius: 16px;
    height: 48px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    margin: 30px auto;
}
.ChangePageList > span{
    width: 45px;
    color: #272727;
    font-size: 16px;
    font-family: DannaBold;
    line-height: 22.55px;
    text-align: center;
    padding: 11.5px 0;
    border-radius: 8px;
}
.ChangePageList > .selected{
    background: #3772FF;
    color: white;
}
.sortsAndFilter{
    display: none;
    justify-content: space-between;    
    width: 100%;    
    direction: ltr;
}
.sortButton,.filterButton{
    height: 48px;
    
    background-color: #2F2F2F;
    border-radius: 40px;
    padding: 12px 16px;
    font-family: DanaFaNum;
    font-size: 16px;
    font-family: DannaMedium;
    line-height: 22.88px;
    text-align: right;
    display: flex;
    gap: 10px;
    background-repeat: no-repeat;
    background-position: 75% 50%;
    padding-right: 46px;
    background-size: 20px;
}
.sortButton{
    background-image: url("../assets/Images/sortIcon.png");
}
.filterButton{
    background-image: url("https://img.icons8.com/?size=100&id=tBHxiVksS0Fw&format=png&color=ffffff");
}
.toLeft{
    background: url(../assets/Images/icons8-arrow-left.png) 50% 50% no-repeat;
    background-size: 55%;
}
.toRight{
    background: url(../assets/Images/icons8-arrow-right.png) 50% 50% no-repeat;
    background-size: 55%;
}
.button{
    font-family: IranYekan;
    height: 100%;
    width: 45px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    color: #272727;
}
.inputChangePage:checked+label{
    background: #3772FF;
    color: white;
}

.sortResponsive{
    width: 103px;
    height: 58px;
    border-radius: 40px;
    background: #2F2F2F url(../assets/Images/sortWhite.png) 85% 50% no-repeat;
    background-size: 25%;
    padding-right: 50px;
    color: white;
    line-height: 60px;
    font-family: DannaMedium;
    font-size: 16px;
    display: none;
}

.filterResponsive{
    width: 103px;
    height: 58px;
    border-radius: 40px;
    background: #2F2F2F url(../assets/Images/filter.png) 85% 50% no-repeat;
    background-size: 25%;
    padding-right: 50px;
    color: white;
    line-height: 60px;
    font-family: DannaMedium;
    font-size: 16px;
    display: none;
}

.sortModal{
    position: absolute;
    width: 100%;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: right;
    flex-flow: row wrap;
    padding: 20px;
    top: 0;
    left: 0;
    gap: 10px;
}
.holderTitle{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.closeBtn{
    width: 101px;
    height: 40px;
    border: 1px solid #FF5353;
    border-radius: 32px;
    color: #FF5353;
    font-family: DannaMedium;
    text-align: center;
    cursor: pointer;
    line-height: 35px;
}

@media screen and (max-width: 900px) {
    .sorts{
        justify-content: space-between;
        width: 97.5%;
    }
    .sortResponsive{
        display: block;
    }
    .filterResponsive{
        display: block;
    }
    .sortButtonLabel{
        display: none;
    }
    .sortingTitle{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .h1{
        font-size: 32px;
    }
}

@media screen and (max-width: 587px) {
    .sorts{
        width: 80%;
    }
}