.DarkOrLight{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid #DCDCDC;
    background:#2F2F2F url("../assets/Images/icons8-dark-mode-501.png") 50% 50% no-repeat;
    background-size: 60%;
}