
form{
    direction: rtl;
    width: 100%;
}
.navigate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    height: 100%;
}
.textNavigate{
    font-size: 16px;
    line-height: 22.88px;
    text-align: right;
    color: #2f2f2f86;
}
.selectedNavigate{
    color: #000000;
}
.lastNavigate{
    background-color: #3772FF !important;
    opacity: 0.5 !important;
    border-radius: 9px;
    height: 8px;
    width: 100%;
}
@media screen and (max-width:600px){
    .page2{
        display: none;
    }
    .navigate{
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }
    .navigate > div{
        width: 100%;
    }
}