.container{
    width: 29.84054669703872%;
    height: 39px;
    border-radius: 40px;
    background: #3772FF;
    text-align: center;
    line-height: 40px;
    font-size: 16px;  
    font-family: DannaDemiBold;
    margin-left: 5px;
}

@media screen and (max-width: 1217px) {
    .container{
        font-size: 12px;
    }
}
