.container {
    width: 32.28%;
    height: 47px;
    justify-content: left;
    flex-flow: row wrap;
    border-radius: 56px;
    background: #2F2F2F;
    align-items: center;
    align-items: center;
    flex-flow: row wrap;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 975px) {
    .container{
        width: 35%;
    }
}

@media screen and (max-width: 900px) {
    .container{
        display: none;
    }
}