.container {
    width: 56.49202733485194%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
