.root{
    background-color: #242424;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 24px 24px;
    direction: rtl;
}
.right{
    width: 20%;
}
.left{
    width: 80%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 11px 0px;
}
.accountHolder{
    width: 11.5%;
    background: url(../assets/Images/userName.png) no-repeat 100% 50%;
    background-size: 48px;
}
.userName{
    font-size: 16px;
    font-family: DannaDemiBold;
    line-height: 22.88px;
    text-align: right;
    color: #FCFCFC;
    margin-right: 58px;
}
.userLevel{
    font-size: 14px;
    font-family: DannaMedium;
    line-height: 20.02px;
    text-align: right;
    color: #F6F6F6;
    margin-right: 58px;
}
.titleHolder{
    height:34px ;
    margin-bottom: 35px;
}
.navigate{
    display: flex;
    flex-wrap: nowrap;
    width: 306px;
    justify-content: space-between;
    align-items: center;
}
.titleHeader{
    font-family: DanaFaNum;
    font-size: 16px;
    font-family: DannaMedium;
    line-height: 22.88px;
    text-align: right;
    color: #FCFCFC;
}
.notifAndDarkHolder{
    display: flex;
    gap: 8px;
}
.notifAndDarkHolder > div{
    border-radius: 50px;
    width: 48px;
    height: 48px;
    background-color: #2F2F2F;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}
.dark{
    background-image: url("https://img.icons8.com/?size=100&id=45474&format=png&color=ffffff");
}
.notif{
    background-image: url("https://img.icons8.com/?size=100&id=H1UeFcv5ogFU&format=png&color=ffffff");
    position: relative;
}
.notif > span{
    border-radius: 50px;
    background-color: #FF5E5E;
    color: white;
    height: 16px;
    width: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    font-family: DannaMedium;
    line-height: 17.16px;
    text-align: center;

}
.title{
    font-family: DanaFaNum;
    font-size: 24px;
    font-family: DannaBold;
    line-height: 34.32px;
    text-align: right;
    color: #2F2F2F;
}
.page{
    background-color: #F6F6F6;
    border-radius: 32px;
    padding: 24px;
}
.page2{
    width: 100%;
}
.logoBahr{
    background: url("../assets/Images/logoBahr.png")no-repeat 50% 50%;
    background-size: 100%;
    width: 235px;
    height: 42px;
    margin: 24px 24px 0 0;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 53px;
    margin-right: 20px;
}
.menu > div{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}
.menu > div > h1{
    font-size: 18px;
    font-family: DannaMedium;
    line-height: 25.74px;
    text-align: right;
    color: #FCFCFC;
}
.menu > div > div{
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.Dashboard{
    background-image: url(../assets/Images/dashboard.png);
}
.MyPeriod{
    background-image: url(../assets/Images/MyPeriod.png);
}
.MyReservation{
    background-image: url(../assets/Images/MyReservation.png);
}
.favoritePeriod{
    background-image: url(../assets/Images/favoritePeriod.png);
}
.BlogMenu{
    background-image: url(../assets/Images/Blog.png);
}
.profile{
    background-image: url(../assets/Images/profile.png);
}
.pay{
    background-image: url(../assets/Images/moneyWhite.png);
}
.logout{
    margin: 250px 16px 0 16px;
    padding: 4.65% 4.5% 4.65% 20%;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid red;
    height: 100%;
    display: flex;
    justify-content: center;
    color: red;
    gap: 12px;
}
.logout > h1{
    font-size: 16px;
    font-family: DannaMedium;
    line-height: 22.88px;
    text-align: right;
}
.exit{
    background: url(https://img.icons8.com/?size=100&id=24338&format=png&color=ff0000)no-repeat 50% 50%;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.searchAndDateHolder{
   
    display: flex;
    justify-content: space-between;
    width: 540px;
}
.searchAndDateHolder > div{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 265px;
}
.searchAndDateHolder > div > div{
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 8px;
    height: 24px;
}
.searchAndDateHolder > div > div > label{
    font-size: 16px;
    font-family: DannaMedium;
    line-height: 22.88px;
    text-align: center;
    color: #2F2F2F;
}
.searchLogo{
    background: url(https://img.icons8.com/?size=100&id=132&format=png&color=000000)no-repeat 50% 50%;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.dateLogo{
    background: url(https://img.icons8.com/?size=100&id=23&format=png&color=000000)no-repeat 50% 50%;
    background-size: 100%;
    width: 24px;
    height: 24px;
}
.input{
    width: 258px;
    height: 48px;
    border-radius: 16px;
    padding-right: 5px;
    background-color: #ececec; 
}
.input::placeholder{
    font-size: 13px;
    font-family: DannaMedium;
    line-height: 17.16px;
    text-align: right;
    background-color: #ececec;
    color: #707070;
}
.list{
    width: 95%;
    background-color: #f1f1f1;
    height: 710px;
    border-radius: 24px;
    margin-top: 24px;
    padding-top: 24px;
}
.headerList{
    margin:0 24px;
    border-radius: 16px;
    background-color: #ececec;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.headerList > div{
    margin: 12px 0;
    font-family: DanaFaNum;
    font-size: 14px;
    font-family: DannaDemiBold;
    line-height: 20.02px;
    text-align: right;
    color: #707070;
}
.imgList{
    width: 7.9%;
}
.nameList{
    width: 11.6%;
}
.teacherList{
    width: 13.2%;
}
.dateStartList{
    width: 10.5%;
}
.dateEndList{
    width: 10.5%;
}
.levelList{
    width: 5.9%;
}
.eyeList{
    width: 2.2%;
}

