.selected{
    width: 55%;
}
.left{
    width: 100%;
}
.locationHolder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 24px;
    gap: 24px;
}
.locationHolder > h1{
    font-family: DanaFaNum;
    font-size: 16px;
    font-family: DannaDemiBold;
    line-height: 22.88px;
    text-align: left;
    color: #3772FF;
}
.location{
    background-color: #D9D9D9;
    width: 100%;
    height: 404px;
    border-radius: 16px;

}

