.filterHolder{
    width: 21.91176470588235%;
    height: 665px;
    border-radius: 32px;
    border: 2px solid #DCDCDC;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .filterHolder{
        display: none;
    }
}