.holder{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.teacher{
    font-size: 14px;
    font-family: DannaMedium;
    color: #707070;
    width: auto;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price{
    font-size: 16px;
    font-family: DannaBold;
    color: #2F2F2F;
    width: auto;
    text-align: left;
    direction: rtl;
}

