.telegram{
    width: 24px;
    height: 24px;
    background: url("../../../../../assets/Images/app(1).png") 50% 50% no-repeat;
    background-size: 100%;
    transition: 0.5s;
}
.telegram:hover{
    box-shadow: 0 0 15px #14FFEC;
    transition: 0.5s;
}