.price{
    width: 30%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    line-height: 25px;
}

.number{
    font-weight: 700;
    font-size: 24px;
    color: #2F2F2F;
    margin-left: 8px;
}

.toman{
    font-weight: 500;
    font-size: 14px;
    color: #2F2F2F;
}