.rightHolder{
    height: 798px;
    width: 22.3%;  
    border-left: 1px solid #DCDCDC;
}
.right{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.left{
    width: 600px;
    padding-right: 24px;
}
.right > .pages,.right > div{
    width: 100%;
    color: #707070;
    font-size: 18px;
    font-family: DannaDemiBold;
    line-height: 25.74px;
    text-align: right;
    cursor: pointer;
    height: 100%;
}
.right > div > h1{
    background-color: #ebebeb;
    color: #3772FF;
    border-radius: 48px;
    padding: 11px 16px;
    text-align: center;
}
.page2{
    height: 928px;
    display: flex;
}
.Input{
    background-color: #FCFCFC;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    padding-right: 10px;
    border: 1px solid #DCDCDC;
}
.Input::placeholder{
    font-family: DanaFaNum;
    font-size: 16px;
    font-family: DannaMedium;
    line-height: 17.16px;
    text-align: right;
    color: #707070;
}
.bigDiv{
    width: 100%;
}
.smallDiv{
    width: 46.5%;
}
.smallDiv ,.bigDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}
.smallDiv > h1,.bigDiv > h1{
    font-size: 16px;
    font-family: DannaDemiBold;
    line-height: 22.88px;
    text-align: right;
    color: #2F2F2F;
}
.left > div{
    display: flex;
    gap: 39px;
}
.aboutMe > div > input{
    height: 123px;
}
.inputGender{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inputGender > div{
    display: flex;
    flex-flow: row-reverse nowrap;
    gap: 8px;
    color: black;
    height: 20px;
}
.inputGender > div > input{
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.inputGender >  button{
    color: #3772FF;
    font-size: 14px;
    font-family: DannaDemiBold;
}
.left > button{
    background-color: #3772FF;
    color: #FCFCFC;
    font-size: 16px;
    font-family: DannaMedium;
    padding: 12.5px 16px;
    border-radius: 40px;
    margin-top: 20px;
}


