.title{
    width: 100%;
    line-height: 170px;
    height: 100px;
    text-align: right;
    font-family: DannaBold;
    font-size: 20px;
    margin-bottom: 50px;
    color: #707070;
    animation: visible linear forwards;
}

.slider{
    width: 95%;
}

.container{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}